$orange1: #FB570B;
$orange2: #FC8F05;

.evaluation {
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    font-weight: bold;

    .evaluation_title {
        text-align: center;
        h2 {
            font-weight: bold;
            padding: 30px;
            span {
                color: $orange1;
            }
        }
    }

    .evaluation_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .evaluation_left {
            width: 20%;
            line-height: 50px;
            letter-spacing: 3px;
            text-align: center;
            h5 {
                font-weight: bold;
                span {
                    color: $orange1;
                }
            }
            ul {
                list-style: none;
                span {
                    border: 10px solid $orange2;
                    background-color: $orange2;
                    border-radius: 10px;
                }
            }
        }

        .evaluation_right {
            width: 80%; 
            text-align: right; 
            .right_filter {
                button {
                    background-color: #C3C7CF;
                    border: none;
                    font-weight: bold;
                    font-size: 18px;
                }
                .btn1 {
                    margin: 10px;
                    background-color: $orange2;
                    :hover {
                        background-color: $orange2;
                    }
                }
                .input-group {
                    justify-content: end;
                    input {
                        width: 300px;
                        border: 2px solid black;
                    }
                    .btn3 {
                        background-color: $orange1;
                        color: white;
                        border: 2px solid black;
                    }
                }
            }


            .right_table {
                table {
                    width: 100%;
                    text-align: center;
                    th {
                        padding: 30px;
                        font-size: 18px;
                        border-bottom: 3px solid #ccc;
                    }
                    td {
                        padding: 25px;
                        font-size: 16px;
                        border-bottom: 3px solid #ccc;
                        span {
                            color: $orange1;
                        }
                        button {
                            width: 150px;
                            border: 10px solid $orange2;
                            background-color: $orange2;
                            border-radius: 10px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .right_pages {
                display: inline-flex;
                padding: 20px;
            }
        }   
    }
}