header {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    .logo {
        padding: 10px 10px;
        display: flex;
        font-size: 48pt;
        font-weight: bolder;
        padding: "0px 25px";
        color: white;

        div {
            color: #fb570b;
            background: -webkit-linear-gradient(left, #0f0, #00f, #f00) 0 0 no-repeat;
		    background-size: 300px;                        
		    background-clip: text;                            
		    -webkit-text-fill-color: rgba(255, 255, 255, 0.418);      
		    animation: shine 2s infinite;  

        }

        @keyframes shine{   
		    0%{
		        background-position: 0 0;
		    }
		    100%{
		        background-position: 100% 100%;
		    }
		}
    }
    justify-content: space-between;
    nav {
        display: flex;
        ul {
            list-style-type: none;
            display: flex;
            letter-spacing: 0.1rem;
            li {
                margin-left: 4rem;
                font-weight: bold;
                font-size: 1.75rem;
            }
        }
    }

    .icon__groups {
        display: flex;
        a {
            svg {
                display: block;
                padding: 5px 0px 0px 0px;
                color: #fb570b;
                width: 30px;
                height: 30px;
                margin-left: 20px;
            }
        }

        .login {
            padding: 6px 45px;
            background-color: #fb570b;
            border-radius: 20px;
            margin-left: 30px;
            margin-right: 30px;
            color: white;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            display: block;
        }

        .menu {
            display: none;
        }
    }
}

div .search__group {
    display: none;
}

div .search__group.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    input.search__input {
        width: 60vh;
        height: 1.7px;
    }

    a.search__inputButton {
        color: white;
        font-size: 22px;
        background-color: #fb570b;
        border-radius: 3px 5px 5px 3px;
        margin-left: -5px;
        margin-top: 0.9px;
        padding: 3px 2.5px 3px 2.5px;
        width: 1.6rem;
    }
}

div .navigation-menu {
    display: none;
}

div .navigation-menu.active {
    display: none;
}

@media screen and (max-width: 1250px) {
    header {
        .logo {
            display: flex;
            font-size: 32pt;
            font-weight: bolder;
            padding: "0px 25px";
            color: white;

            div {
                color: #fb570b;
            }
        }

        nav {
            display: flex;
            ul {
                list-style-type: none;
                display: flex;
                letter-spacing: 0.1rem;
                li {
                    margin-left: 3rem;
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: 998px) {
    header {
        width: 100%;
        nav {
            ul {
                li {
                    display: none;
                }
            }
        }

        .icon__groups {
            display: flex;
            a {
                svg {
                    display: block;
                    padding: 5px 0px 0px 0px;
                    color: #fb570b;
                    width: 30px;
                    height: 30px;
                    margin-left: 20px;
                }
            }

            .login {
                display: none;
            }

            .menu {
                display: block;
            }
        }
    }

    div .navigation-menu.active {
        display: flex;
        background-color: black;
        margin-top: -35px;

        ul {
            list-style-type: none;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: bold;

            li {
                margin-top: 10px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
